.check-check {
  width: 32px;
  height: 32px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}
.check-icon {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}






@media(max-width: 991px) {
  .check-root-class-name {
    top: var(--dl-space-space-unit);
    left: var(--dl-space-space-fiveunits);
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .check-root-class-name1 {
    top: -2px;
    left: 179px;
    position: absolute;
  }
  .check-root-class-name2 {
    top: 1px;
    left: 135px;
    position: absolute;
  }
  .check-root-class-name3 {
    right: -30px;
    bottom: 1px;
    position: absolute;
  }
  .check-root-class-name4 {
    top: -2px;
    right: -41px;
    position: absolute;
  }
  .check-root-class-name5 {
    top: -5px;
    right: -138px;
    position: absolute;
  }
}
